{% extends 'index.html'%}
{% load static %}
{% block content %}
<script src="/js/mathjax/tex-chtml.js" id="MathJax-script" async></script>
<span class="calcTitle">About Us</span>
</center>
<div class="footerPageText" style:"text-align:center;">
<p>
Statziki is a passion project that was founded by Sebastian Morel and Mattias Svensson. Sebastian is currently working on a master's degree in Industrial Engineering and Mattias is working on his dream of getting a PhD in statistics, at Lund University.
<br>
<br>
During our time at university we've applied statistics into nearly every area of our respective degrees, mainly in the areas of market research and strategic planning. This experience has led us to realise the importance of statistics in our modern world.
<br>
<br>
<p>
<h3>The Team</h3>
<ul>
    <li><b>Sebastian Morel</b>, M.Sc. in industrial engineering and management. Implements the complicated algorithms into a clean and easy to understand layout.</li>
    <br>
    <li><b>Mattias Svensson</b>, B.Phil. in statistics. the statistics guy.</li>
</ul>
</div>
<center>
{% endblock %}