{% extends 'index.html'%}
{% load static %}
{% block content %}
<script src="/js/mathjax/tex-chtml.js" id="MathJax-script" async></script>
<span class="calcTitle">Privacy Policy</span>
</center>
<div class="footerPageText" style:"text-align:center;">
<p>
Here is the bottom line. Your privacy is very important to us. We do not sell or rent your personal information to anyone.
<br>
<h3>Privacy Policy Overview</h3>
You can browse Statziki without telling us who you are or revealing any personal information about yourself.
<br>
<br>
We only track traffic to our website to help us improve and track our growth, where you will become a +1 among many other.
<br>
<br>
All of Statziki's services are free, and we will never ask you to provide financial information.
<br>
<!--<br>
<h3>Third-Party Advertisers</h3>
We use third-party advertising companies (e.g., Google, Amazon) to serve ads when you visit our website. 
These companies may use information (not including your name, address, email address, 
or telephone number) about your visits to this and other websites in order to provide advertisements about 
goods and services of interest to you.
<br>
<br>
<h3>Cookies</h3>
Cookies (small text files) perform essential functions on the web. We use cookies to personalize ads, enable social media features, and analyze traffic.!-->
<p>
</div>
<center>
{% endblock %}