{% extends 'index.html'%}
{% load static %}
{% block content %}
<script src="/js/mathjax/tex-chtml.js" id="MathJax-script" async></script>
<span class="calcTitle">Terms of Use</span>
</center>
<div class="footerPageText" style:"text-align:center;">
<p>
<h3>Fair Use</h3>
All pages on this website are the property of Statziki. Text, graphics, code, and other content from Statziki may not be redistributed or reproduced in any way, shape, or form without the written permission of Statziki. 
Failure to do so is a violation of copyright laws.
<br>
<br>
If you contact us, we are usually happy to provide permission to use our intellectual property. When we grant permission to use site content, we will of course <b>NOT</b> charge a fee, but if you want to give us aknowledgement where you use it will help us grow with you and it will make us very happy. :)
<br>
<br>
<h3>Privacy Policy</h3>
Here is the bottom line. Your privacy is very important. You can browse the site without revealing any information about yourself.
<br>
<br>
<h3>Warranties</h3>
The material on this website is provided for instructional purposes only.
<ul>
    <li>
        We do not warrant the correctness of site contents. All products and services are provided without warranties to performance, fitness, merchantability, and/or any other warranty (whether expressed or implied).
    </li>
    <li>
        All direct or indirect risk related to use of the site is borne entirely by the user.
    </li>
    <li>
        There are no guarantees that use of the site will not be subject to interruptions.
    </li>
</ul>
In short, the website may contain inaccuracies or errors. The risk from using it lies entirely with the user.
</p>
</div>
<center>
{% endblock %}