.vercel
statziki/settings_dev.py
*.pyc
__pycache__/
venv/
env/
*.sqlite3
*.db.sqlite3
*.pyc
*.bak
*.swp
*.log
*.pot
*.mo
*.env
.env
.vscode/
.idea/
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/
*.egg-info